<!DOCTYPE html>
<html lang="en">
  <%-include("./partials/head.ejs") %>
  <body>
    <%-include("./partials/nav.ejs") %> 
    <div class="form-container">
      <h3 class="align-center">إنشاء موقع سياحي جديد</h3>
      <%if(typeof msg != "undefined"){%>  
        <%if(msg == "MulterError: File too large"){%>
        <% msg = " حجم الصورة كبير جداَ"%>
        <p class="err-msg"><%= msg %> </p>
        <%}else{%>
          <p class="err-msg"><%= msg %> </p>
        <% } %> 
        <%} %>
      <form action="/sites/upload" method="POST" enctype="multipart/form-data">
        <label for="title">إسم المكان :</label>
        <input type="text" name="title"  required />
        <label for="snippet">نبذة :</label>
        <input type="text" name="snippet"  required />
        <label for="adress">عنوانه :</label>
        <input type="text" name="adress" required />
        <label for="body">جسم الموضوع :</label>
        <textarea name="body" id="body"></textarea>
        <label for="img" class="btn btn-grey">اختر صورة</label>
        <input name="myImg" id="img" type="file" hidden required/>
        <input type="submit" class="btn btn-blue block sumbit" value="ارسال" />
      </form>
    </div>
    <%- include("./partials/footer") %>
  </body>
</html>
